<mat-grid-list cols="3" rowHeight="1:1" gutterSize="1rem" class="grid">
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
  <mat-grid-tile><app-card></app-card></mat-grid-tile>
</mat-grid-list>
